# This file needs to be added to project when using pnpm for apps created with npm and create react-app command.

# Following line tells pnpm to auto installe peer dependencies, as by default pnpm does not auto install peer dependencies.
auto-install-peers=true

# With following lines all the node_modules belonging to eslint, prettier and types are hoisted at root level of projects node_modules.
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types* 

# NOTE - Following dependencies are required to be installed while being added as peer dependecies with exact versions as of 27/07/2023.
# "peerDependencies": {
#		"@babel/core": "^7.22.9",
#		"@babel/plugin-syntax-flow": "7.14.5",
#		"@babel/plugin-transform-react-jsx": "7.14.9",
#		"@testing-library/dom": "7.21.4",
#		"typescript": "^4.0.2"
#	}